html {
    background-color: beige;
    background-image: linear-gradient(to bottom right, #180cac, #daa520);
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

.content {
    display: flex;
    position: relative;
    min-height: 100vh;
    }
    

.button {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    transform-origin: center;
    transition-duration: 100ms;
    background-color: #fff;
    border-radius: 290486px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #180cac;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;

    }

.wallpaper{
    background-image: url("../images/shapes.jpeg");
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    position: fixed;
    }

@media screen and (max-width: 799px) {
    .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
    }
    }

@media screen and (min-width: 800px) {
    .content {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
    }
    }